@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@media (max-width: 1173px)
{
    #about
    {
        margin-top: 75rem;
    }
}
:root 
{
    --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vi, 0.8rem);
    --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vi, 1rem);
    --step-0: clamp(0.5rem, 1.0815rem + 0.2174vi, 1.5rem);
    --step-1: clamp(1.35rem, 1.2761rem + 0.3696vi, 1.5625rem);
    --step-2: clamp(1.62rem, 1.5041rem + 0.5793vi, 1.9531rem);
    --step-3: clamp(1.944rem, 1.771rem + 0.8651vi, 2.4414rem);
    --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vi, 3.0518rem);
    --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vi, 3.8147rem);

    --space-3xs: clamp(0.3125rem, 0.3125rem + 0vi, 0.3125rem);
    --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vi, 0.625rem);
    --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vi, 0.9375rem);
    --space-s: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
    --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vi, 1.875rem);
    --space-l: clamp(1.5rem, 2.163rem + 0.4348vi, 3rem);
    --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vi, 3.75rem);
    --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vi, 5rem);
    --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vi, 7.5rem);

    /* One-up pairs */
    --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vi, 0.625rem);
    --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vi, 0.9375rem);
    --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vi, 1.25rem);
    --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vi, 1.875rem);
    --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vi, 2.5rem);
    --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vi, 3.75rem);
    --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vi, 5rem);
    --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vi, 7.5rem);

    /* Custom pairs */
    --space-s-l: clamp(1.125rem, 0.6467rem + 2.3913vi, 2.5rem);
}


*
{
    background-color: #2d2d30;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body
{
    margin: 0px;
    padding: 0;
}

.title
{
    background-image: linear-gradient(45deg, #ffffff, #ffa500);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-weight: bolder;
    font-size: var(--step-4);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.paragraph
{
    border-radius: 80px;
    background-color: #363636;
    padding: 40px;
    color: white;
    font-weight: bolder;
    font-family: "Nunito", sans-serif;
    font-size: var(--step-0);
    margin-inline: 0px;
    margin-bottom: 1em;
}

.product-image-box
{
    width: 450px;
    height: 500px;
    border-radius: 20px;
    background-color: #363636;
    /* align-items: center; */
    padding: 0px;
}

.product-title
{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    color: white;
    font-size: var(--step-3);
    background-color: transparent;
}

.image-product
{
    width: 300px;
    height: 199px;
    background-color: white;
    border-radius: 20px;
    margin: 0px;
    padding: 0px;
    
    margin-inline: 20px;
}

.contenitore-prodotti
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    gap: var(--space-l);
}

#main-logo
{
    margin-top: 6px;
    width: 200px;
    height: 200px;
    border-radius: 30px;
    background-color: white;
}
#upper-element
{
    background-color: #ffa500;
    position: relative;
    width: 100%;
    height: 215px;
    
    border-bottom: 5px solid white;
    align-items: center;
    text-align: center;
}
#minor /* I nostri prodotti */
{
    font-size: var(--step-3);
    background-image: linear-gradient(45deg, #ffffff, purple);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

#container-chiSono
{
    width: auto;
    margin: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    gap: -50px;
}
#WhoAmI
{
    top: var(--space-xs);
}
#andrea-img
{
    width: 300px;
    height: 300px;
    border-radius: 100%;
}